<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conexCholo" connectionString="Data Source=192.168.1.4;Initial Catalog=Sico_Borrador;User ID=sa;Password=Sistemas2025;Integrated Security=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>